@{
    Layout = "";
}
<div class="hidden" block-ui="waitingFull" id="waitingFull">
    <h1 style='color: #fff !important; font-size:18px;'>
        <img src="~/Content/themes/base/images/hourglass.svg" />
        <span id="spanWaitingFull"></span>
    </h1>
</div>

