<div class="modal fade" id="modalConfirmaExclusao" tabindex="-1" role="dialog" data-backdrop="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="display: flex; justify-content: space-between">
                <h5 class="modal-title" id="modalLabelConfirmarExclusao">Deseja realmente excluir este usuário?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="divContentConfirmaExclusao"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="buttonConfimarExclusao" class="btn btn-danger" style="position:relative; float:left;">Excluir</button>
                <button type="button" id="buttonCancelarExclusao" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
